.filter-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: none;
}

.card {
  overflow: hidden;
  width: 250px;
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  transition: transform 0.5s ease, background-color 0.5s ease;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(239, 207, 152, 0.219); 
}

.card:hover {
  transform: translateY(-10px);
}

.card::before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: -40%;
  left: -20%;
  border-radius: 50%;
  border: 35px solid rgba(255, 255, 255, 0.225);
  transition: all 0.8s ease;
  filter: blur(0.5rem);
}

.text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
   
  font-weight: 900;
  font-size: 1.2em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
 
.subtitle {
  font-size: 0.8em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover::before {
  width: 140px;
  height: 140px;
  top: -30%;
  left: 50%;
  filter: blur(0rem);
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    height: auto;
  }
}.view-more-btn {
  padding: 10px 15px;
  background-color: transparent;
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: background-color 0.3s ease;
}

.view-more-btn:hover {
  background-color: #cdcccc83;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.view-more-btn:hover .arrow-icon {
  transform: translateX(5px); /* Move the arrow slightly to the right on hover */
}
.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon.animate {
  transform: translateX(5px); /* Move the arrow slightly to the right on hover */
}
