/* Main container for the education section */
.education-details {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  width: 48%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Header for the education section */
.education-details h3 {
  font-size: 22px;
  margin-bottom: 25px;
  color: #333;
  font-weight: bold;
}

/* Education Item Wrapper */
.education-item-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 20px; /* Space for the icon */
  margin-bottom: 15px;
}

/* Education icon */
.education-icon {
  position: relative;
  margin-right: 15px;
}

/* Education item container */
.education-item {
  flex: 1;
  padding: 1rem;
  background-color: #2c3e50;
  border-radius: 8px;
  color: white;
}

/* Education header (school/college name and edit button) */
.education-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.education-header h4 {
  font-size: 18px;
  margin-bottom: 22px;
  color: #007bff;
}
.yellow-text{
  color: #f1c40f;
 
}
/* Edit button */
.edit-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.91rem;
  background-color: #00796b;
  padding: 5px 10px;
  border-radius: 8px;
}

/* Education details */
.education-details p {
  margin-bottom: 5px;
  font-size: 15px;
  color: #ecf0f1;
}

/* Responsive Layout for Mobile */
@media (max-width: 768px) {
  .education-details {
    width: 100%;
  }
  
  .education-header h4 {
    font-size: 16px;
  }

  .education-details p {
    font-size: 14px;
  }

  .education-item-wrapper {
    padding-left: 15px;
  }
}
