
.experience-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  width: 48%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.experience-title {
  font-size: 22px;
  margin-bottom: 25px;
  color: #333;
  font-weight: bold;
}
.experience-role{
  padding-bottom: 10px;
}
.experience-bar {
  background-color: #ffffff;
  position: relative;
  padding-left: 50px;
  box-shadow: none;
 
}

.experience-bar::before {
  content: '';
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #3498db;
}

.experience-item {
  position: relative;
  margin-bottom: 40px;
  /* height: 300px; */
  
}

.experience-icon {
  position: absolute;
  left: -50px;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-year {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2c3e50;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.experience-content {
  background-color: #2c3e50;
  padding: 20px;
  border-radius: 8px;
  margin-left: 20px;
}

.experience-role {
  margin: 0 0 10px;
  font-size: 20px;
  color: #3498db;
}

.experience-company {
  margin: 0 0 10px;
  font-size: 16px;
  color: #f1c40f;
}

.experience-description {
  margin: 0;
  font-size: 16px;
  color: #ecf0f1;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .experience-container {
    padding: 20px 10px;
    width: 100%;
  }

  .experience-bar {
    padding-left: 30px;
  }

  .experience-bar::before {
    left: 5px;
  }

  .experience-icon {
    left: -30px;
    width: 30px;
    height: 30px;
  }

  .experience-year {
    left: 40px;
    font-size: 10px;
  }

  .experience-content {
    margin-left: 10px;
    padding: 15px;
  }

  .experience-role {
    font-size: 18px;
  }

  .experience-company {
    font-size: 14px;
  }

  .experience-description {
    font-size: 12px;
  }
}
