
/* Header.css */

.custom-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #fff;
  box-sizing: border-box;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logo-cont {
  display: flex;
  align-items: center;
}

.kce-logo {
  height: clamp(40px, 8vw, 70px);
  max-height: 70px;
  transition: transform 0.3s ease;
}

.kce-logo:hover {
  transform: scale(1.05);
}

.portal-name {
  font-size: clamp(1.5rem, 0.5vw + 1rem, 2.5rem);
  color: var(--kce-blue);
  white-space: nowrap;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.loginbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.Login-btn {
  color: var(--kce-blue);
  cursor: pointer;
  margin-right: 20px;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  transition: color 0.3s ease;
}

.loginbutton:hover .Login-btn {
  color: #3498db;
}

.user-display {
  display: flex;
  align-items: center;
  padding: 8px 2rem;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: transform 0.3s ease;
}

.user-display:hover {
  transform: translateX(-2px);
}

.username-display::before {
  margin-right: 8px;
  font-size: 1.2rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 5;
  width: 120px;
  animation: slideFromRight 0.3s ease;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .user-display {
      padding: 6px 12px;
      font-size: 0.9rem;
  }

  .portal-name {
      font-size: clamp(1.2rem, 3vw, 2rem);
  }

  .Login-btn {
      font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  }

  .user-display {
      font-size: clamp(0.9rem, 1.2vw, 1rem);
  }
}

@keyframes slideFromRight {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}
