.filter-component {
    width: 25vw;
    padding: 20px;
    
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(140, 138, 138);
    background-color: #ffffff;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
}

.filter-component.show {
    transform: translateX(0);
}

.filter-component h4 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.filter-group {
    margin-bottom: 15px;
    width: 100%;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.filter-group select, .filter-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.filter-btn {
    width: 100%;
    padding: 12px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: auto;
}

.filter-toggle {
    position: relative;
    top: 10px;
    
    background-color: #0056b3;
    border-radius: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.filter-toggle:hover {
    background-color: #003d7a;
}

@media (min-width: 1201px) {
    .filter-component {
        position: static;
        transform: translateX(0);
         
    }
    
    .filter-toggle {
        display: none;
    }
}

@media (max-width: 1200px) {
    .filter-component {
        width: 80vw;
        position: absolute;
        top: 12vh;
    }
}

@media (max-width: 768px) {
    .filter-component {
        width: 100%;
    }
}