
.filter-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 30px;
    position: relative;
    width: 100%;

  }
  
  .filter-content {
    display: flex;
    flex: 1;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  .filter-and-sort {
  
    
    position: absolute;
    top: 5px;
    /* background-color: aqua; */
  }

  
  @media (max-width: 900px) {
    .filter-content {
      flex-direction: column;
    }
  }