/* Main container styling */
.filter-cards-container {
  width: 95%;
  padding: 0px 20px 10px 10px;
  /* background-color: #f0f4f8; */
  text-align: center;
  background: 
    radial-gradient(circle at 20% 20%, rgba(121, 134, 203, 0.1) 0%, transparent 40%),
    radial-gradient(circle at 80% 80%, rgba(0, 191, 165, 0.1) 0%, transparent 40%);
  position: relative;
  overflow: hidden;
  
}

.filter-cards-title {
  font-size: 2rem;
  color: var(--green);
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.filter-cards-subtitle {
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 40px;
  text-align: center;
}

/* Cards grid layout */
.filter-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  
}

/* Card styles */
.cardd {
  background: #ffffff;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  text-align: left;
  display: flex;
  align-items: flex-start;
  gap: 20px;  
  position: relative;
  overflow: hidden;
  cursor: pointer;

}

.cardd::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(0, 191, 165, 0.2);
  transform: rotate(45deg);
  transition: transform 0.6s ease;
}

.cardd:hover::before {
  transform: rotate(45deg) scale(1.1);
}

/* Hover effect */
.cardd.hovered {
  transform: translateY(-15px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

/* Icon styling */
.card-icon {
  font-size: 2rem;
  color: #4a90e2;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

/* Content styling */
.card-content h3 {
  font-size: 1.25rem;
  color: var(--green);
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.card-content p {
  font-size: 1rem;
  color: #666666;
  line-height: 1.8;
  margin: 0;
  /* font-family:; */
}

/* Responsive design */
@media (max-width: 900px) {
  .filter-cards {
    grid-template-columns: 1fr 1fr;
  }
  .filter-cards-title{
    font-size: 1rem;
  }
  .cardd{
    margin: 0px 20px;
    
  }
  .cardd::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -20%;
    width: 150%;
    height: 120%;
   
    background: rgba(0, 191, 165, 0.2);
    transform: rotate(45deg);
    transition: transform 0.6s ease;
    
  }
  
  .cardd:hover::before {
    transform: rotate(45deg) scale(1.1);
  }
  
  /* Hover effect */
  .cardd.hovered {
    transform: translateY(-15px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 600px) {
  .filter-cards {
    grid-template-columns: 1fr; /* Stack cards on mobile */
  }
  .cardd {
    padding: 10px;
  }

  .card-content h3 {
    font-size: 1.5rem;
  }

  .card-content p {
    font-size: 0.9rem;
  }
}
